<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
	<h1>Seleccione lo que desee realizar</h1>
	<form th:action="@{/inventarios/bodega}" th:object="${inventario}" th:method="GET">
	<table>
			<tr>
				<td><input type="submit" class="btn btn-light"value="Crear Bodega"></td>
			</tr>
		</table>
		
	</form>
	<form th:action="@{/inventario/producto}" th:object="${producto}" th:method="GET">
	<table>
			<tr>
				<td><input type="submit"class="btn btn-light" value="Crear Producto"></td>
			</tr>
		</table>
		
	</form>
	<form th:action="@{/inventarios/ingresarInventario}" th:object="${inventario}" th:method="GET">
	<table>
			<tr>
				<td><input type="submit" class="btn btn-light"value="Agregar al inventario"></td>
			</tr>
		</table>
		
	</form>
</body>

</html>